<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
<div class="card-column">
  <div class="container" style="width:500px;">
    <div class="card mb-3">
      <img style="height: 200px; width: 100%; display: block;" src="https://cdn-s-www.lalsace.fr/images/03AF9649-F98B-4A9F-AD40-43FE7C2C06B4/JDE_V0_07/(dr).jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Nom Prénom</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Age</li>
        <li class="list-group-item">Ville</li>
        <li class="list-group-item">Description</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Réseau social</a>
        <a href="#" class="card-link">Réseau social2</a>
      </div>
    </div>
  </div>
    <div class="container" style="width:500px;">
      <div class="card mb-3">
        <img style="height: 200px; width: 100%; display: block;" src="https://cdn-s-www.lalsace.fr/images/03AF9649-F98B-4A9F-AD40-43FE7C2C06B4/JDE_V0_07/(dr).jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Nom Prénom</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age</li>
          <li class="list-group-item">Ville</li>
          <li class="list-group-item">Description</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Réseau social</a>
          <a href="#" class="card-link">Réseau social2</a>
        </div>
      </div>
    </div>
      <div class="container" style="width:500px;">
        <div class="card mb-3">
          <img style="height: 200px; width: 100%; display: block;" src="https://cdn-s-www.lalsace.fr/images/03AF9649-F98B-4A9F-AD40-43FE7C2C06B4/JDE_V0_07/(dr).jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Nom Prénom</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age</li>
            <li class="list-group-item">Ville</li>
            <li class="list-group-item">Description</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Réseau social</a>
            <a href="#" class="card-link">Réseau social2</a>
          </div>
        </div>
      </div>
        <div class="container" style="width:500px;">
          <div class="card mb-3">
            <img style="height: 200px; width: 100%; display: block;" src="https://cdn-s-www.lalsace.fr/images/03AF9649-F98B-4A9F-AD40-43FE7C2C06B4/JDE_V0_07/(dr).jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text">Nom Prénom</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Age</li>
              <li class="list-group-item">Ville</li>
              <li class="list-group-item">Description</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Réseau social</a>
              <a href="#" class="card-link">Réseau social2</a>
            </div>
          </div>
        </div>
</div>
  </body>
</html>
