<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
<div class="card-column">
  <div class="container" style="width:500px;">
    <div class="card mb-3">
      <h3 class="card-header text-center">Le nom de la ville</h3>
      <img style="height: 200px; width: 100%; display: block;" src="https://www.montpellier.fr/uploads/Image/70/29354_083_banner-ville-Montpellier.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Histoire de la ville</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre d'habitant</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Intinéraire</a>
        <a href="#" class="card-link">Google map</a>
      </div>
    </div>
  </div>
  <div class="container" style="width:500px;">
    <div class="card mb-3">
      <h3 class="card-header text-center">Le nom de la ville</h3>
      <img style="height: 200px; width: 100%; display: block;" src="https://www.montpellier.fr/uploads/Image/70/29354_083_banner-ville-Montpellier.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Histoire de la ville</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre d'habitant</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Intinéraire</a>
        <a href="#" class="card-link">Google map</a>
      </div>
    </div>
  </div>
  <div class="container" style="width:500px;">
    <div class="card mb-3">
      <h3 class="card-header text-center">Le nom de la ville</h3>
      <img style="height: 200px; width: 100%; display: block;" src="https://www.montpellier.fr/uploads/Image/70/29354_083_banner-ville-Montpellier.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Histoire de la ville</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre d'habitant</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Intinéraire</a>
        <a href="#" class="card-link">Google map</a>
      </div>
    </div>
  </div>
  <div class="container" style="width:500px;">
    <div class="card mb-3">
      <h3 class="card-header text-center">Le nom de la ville</h3>
      <img style="height: 200px; width: 100%; display: block;" src="https://www.montpellier.fr/uploads/Image/70/29354_083_banner-ville-Montpellier.jpg" alt="Card image">
      <div class="card-body">
        <p class="card-text">Histoire de la ville</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre d'habitant</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Intinéraire</a>
        <a href="#" class="card-link">Google map</a>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
