<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <body>

    <form action="/action_page.php" style="border:1px solid #ccc">
      <div class="container">
        <h1>Mot de passe oublié</h1>
        <p>Merci de remplir le formulaire ci-dessous</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Entre ton Email" name="email" required>


        <div class="clearfix">
          <button type="button" class="cancelbtn">Annuler</button>
          <button type="submit" class="signupbtn">Envoie l'email de récupération</button>
        </div>
      </div>
    </form>

  </body>
</html>
