<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Changement mot de passe</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <body>

    <form action="/action_page.php" style="border:1px solid #ccc">
      <div class="container">
        <h1>Changement mot de passe</h1>
        <p>Merci de remplir le formulaire ci-dessous</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Entre ton Email" name="email" required>

        <label for="psw"><b>Password actuel</b></label>
        <input type="password" placeholder="Entre ton password actuel" name="psw" required>

        <label for="psw-repeat"><b>Nouveau Password</b></label>
        <input type="password" placeholder="Entre ton nouveau password" name="psw-repeat" required>

        <label for="psw-repeat"><b>Retape ton nouveau Password</b></label>
        <input type="password" placeholder="Retape ton nouveau Password" name="psw-repeat" required>


        <p>Merci de lire et d'agreer à notre <a href="#" style="color:dodgerblue">Politique de vie privé</a>.</p>

        <div class="clearfix">
          <button type="button" class="cancelbtn">Annuler</button>
          <button type="submit" class="signupbtn">S'inscrire</button>
        </div>
      </div>
    </form>

  </body>
</html>
