<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <h1> Voici la liste des liens vers les différentes molécules </h1>
    <h3> <a href="navbar.html"> Navbar </a> </h3>
    <h3> <a href="footer.html"> Footer </a> </h3>
    <h3> <a href="formulaire_inscription.html"> formulaire inscription </a> </h3>
    <h3> <a href="formulaire_connexion.html"> formulaire connexion </a> </h3>
    <h3> <a href="formulaire_changement_mdp.html"> formulaire changement mdp </a> </h3>
    <h3> <a href="formulaire_mdp_oublie.html"> formulaire mdp oublie </a> </h3>
    <h3> <a href="banniere.html"> Bannieres </a> </h3>
    <h3> <a href="cartes_city.html"> Cartes city </a> </h3>
    <h3> <a href="cartes_event.html"> Cartes event </a> </h3>
    <h3> <a href="cartes_participant.html"> Cartes participant</a> </h3>
    <h3> <a href="Commentaires.html"> Commentaires </a> </h3>
    <h3> <a href="presentation.html"> Presentation ressources </a> </h3> <p> pas fait </p>
    <h3> <a href="presentation_element.html"> Présentation éléments</a> </h3>
    <h3> <a href="organisme.html"> Organisme </a> </h3> <p> pas fait </p>
  </body>
</html>
